html, body{
    height: 100%;
    width: 100%;
}

.nav-header {
    padding: 10px;
}

.jumbotron {
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 4px;
}

.selecionado {
    background-color: #f3eba7;
}

.negrito {
    font-weight: bold;
}
